<div class="map-container">
  <div id="map"></div>
  <div class="map-info">
    <p>Location: <span class="coordinates" id="location-coordinates">Loading...</span></p>
    <% if defined?(readonly) && readonly %>
      <p><small>This map shows your current saved location.</small></p>
    <% else %>
      <p><small>Drag the marker to update your address, or fill in the address fields manually.</small></p>
    <% end %>
  </div>
</div>

<script>
  // Set up configuration variables
  window.isReadonly = <%= !!(defined?(readonly) && readonly) %>;
  <% if @user&.latitude.present? && @user&.longitude.present? %>
    window.savedLat = <%= @user.latitude %>;
    window.savedLng = <%= @user.longitude %>;
  <% end %>
</script>

<%= javascript_include_tag 'map_initialization' %> 